{"openapi":"3.1.0","info":{"title":"Authentication API Docs","description":"Authentication REST API documentation","version":"v1"},"servers":[{"url":"https://api.setle.app"}],"paths":{"/oidc/v1/token":{"post":{"tags":["oidc-controller"],"summary":"Get token","description":"Exchanges authorization codes, refresh tokens, or client credentials for access and ID tokens.","operationId":"token","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"grant_type":{"type":"string","description":"Denotes the flow you are using. For Authorization Code, use authorization_code."},"client_id":{"type":"string","description":"Your application's Client ID."},"client_secret":{"type":"string","description":"Your application's Client Secret. Only required for client_credentials grant."},"code":{"type":"string","description":"The Authorization Code received from the initial /authorize call."},"code_verifier":{"type":"string","description":"Cryptographically random key that was used to generate the code_challenge passed to /authorize.."},"audience":{"type":"string","description":"The unique identifier for the target API you want to access."},"redirect_uri":{"type":"string","description":"This is required only if it was set at the /authorize endpoint. The values from /authorize must match the value you set at /token."},"refresh_token":{"type":"string","description":"The refresh token to use."}},"required":["client_id","grant_type"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/oidc/v1/logout":{"get":{"tags":["oidc-controller"],"summary":"Initiate logout","description":"Initiatie logout","operationId":"logout","parameters":[{"name":"client_id","in":"query","description":"Your application's Client ID.","required":true,"schema":{"type":"string"}},{"name":"post_logout_redirect_uri","in":"query","description":"URL to redirect the user after the logout.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/oidc/v1/authorize":{"get":{"tags":["oidc-controller"],"summary":"Initiate authentication and authorization","description":"Initiate authentication and authorization","operationId":"authorize","parameters":[{"name":"client_id","in":"query","description":"Your application's ID.","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"The URL to which Auth0 will redirect the browser after authorization has been granted by the user.","required":true,"schema":{"type":"string"}},{"name":"response_type","in":"query","description":"Indicates to Auth0 which OAuth 2.0 flow you want to use. Use code for Authorization Code Grant Flow.","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"The scopes which you want to request authorization for. These must be separated by a space. You can request any of the standard OpenID Connect (OIDC) scopes about users, such as profile and email, custom claims that must conform to a namespaced format, or any scopes supported by the target API (for example, read:contacts). Include offline_access to get a Refresh Token.","required":true,"schema":{"type":"string"}},{"name":"code_challenge","in":"query","description":"Generated challenge from the code_verifier.","required":true,"schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"Method used to generate the challenge. The PKCE spec defines two methods, S256 and plain, however, we only support S256 since the latter is discouraged.","required":false,"schema":{"type":"string"}},{"name":"state","in":"query","description":"An opaque value the application adds to the initial request that Auth0 includes when redirecting the back to the application. This value must be used by the application to prevent CSRF attacks.","required":false,"schema":{"type":"string"}},{"name":"prompt","in":"query","description":"To initiate a silent authentication request, use prompt=none.","required":false,"schema":{"type":"string"}}],"responses":{"302":{"description":"Found"}}}},"/oidc/v1/.well-known/jwks.json":{"get":{"tags":["oidc-controller"],"summary":"Get authorization JWK Set","description":"The JSON Web Key Set (JWKS) is a set of keys containing the public keys used to verify any JSON Web Token (JWT) issued by the authorization server and signed using the RS256 signing algorithm.<br><br>RS256 generates an asymmetric signature, which means a private key must be used to sign the JWT and a different public key must be used to verify the signature.<br><br>Setle uses the JSON Web Key (JWK) specification to represent the cryptographic keys used for signing RS256 tokens.","operationId":"getJwkSet","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JwksResource"}}}}}}}},"components":{"schemas":{"TokenResponse":{"type":"object","properties":{"access_token":{"type":"string","description":"The access token issued.","example":"2YotnFZFEjr1zCsicMWpAA"},"id_token":{"type":"string","description":"The id token issued.","example":"<JWT token>"},"token_type":{"type":"string","description":"The type of the token issued.","example":"bearer"},"expires_in":{"type":"integer","format":"int64","description":"The lifetime in seconds of the access token.","example":3600},"refresh_token":{"type":"string","description":"The refresh token, which can be used to obtain new access tokens using the 'refresh_token' grant.","example":"tGzv3JOkF0XG5Qx2TlKWIA"}},"required":["access_token","expires_in","token_type"]},"JwksResource":{"type":"object","description":"Represents the Jwks resource","properties":{"keys":{"type":"array","description":"List of JWKs as specified in https://tools.ietf.org/html/rfc7517","example":[{"kty":"RSA","e":"AQAB","use":"sig","kid":"09aad603-c0da-4ad5-bd90-eac65a967c5a","alg":"RS256","n":"lVP3sAzXhDSApOjQ26GWqo8YdhGosErqPdH-EwUYL5_IgWzwHssVe1S8gHXpL85HQjGQIQ70_6V4ROdVEIxr4Xg6ElVjaASz43xdGnHQjWjI_GYXWbiXLBeA1Y3YFLLcync8OHXGJgTmxcN_L6cZrO3NE9B6SfhtKmhv30DU5cqeYhmaMtvPheYJsrVoTLQsYa2vSJx4pV_R7PUweTBeK1o1jImJQhEUBWgIIGSQRiM3u4QAPpN8S_ezNkiVs9MSBpgpUt_RvQn3u_86ghw7WDKVxma8J34VTmgyblPWsOiQIuINtIanqiL5bnGujHc-NcAKD8J5uWjA9WOeHCpwXw"}],"items":{"type":"object","additionalProperties":{"type":"object"}}}},"required":["keys"]}}}}