{"openapi":"3.1.0","info":{"title":"User API Docs","description":"User REST API documentation","version":"v1"},"servers":[{"url":"https://api.setle.app"}],"paths":{"/v1/employees/me":{"get":{"tags":["employee-user-controller"],"summary":"Get employee","description":"Get employee","operationId":"getEmployee","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserEmployeeResource"}}}}},"security":[{"oAuth2ClientCredentials":[]}]},"delete":{"tags":["employee-user-controller"],"summary":"Delete employee","description":"Delete employee","operationId":"deleteEmployee","responses":{"204":{"description":"No Content"}},"security":[{"oAuth2ClientCredentials":[]}]},"patch":{"tags":["employee-user-controller"],"summary":"Patch employee","description":"Patch employee","operationId":"patchEmployee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPatchEmployeeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserEmployeeResource"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}},"/v1/customers/me":{"get":{"tags":["customer-user-controller"],"summary":"Get customer","description":"Get customer","operationId":"getCustomer","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCustomerResource"}}}}},"security":[{"oAuth2ClientCredentials":[]}]},"delete":{"tags":["customer-user-controller"],"summary":"Delete customer","description":"Delete customer","operationId":"deleteCustomer","responses":{"204":{"description":"No Content"}},"security":[{"oAuth2ClientCredentials":[]}]},"patch":{"tags":["customer-user-controller"],"summary":"Patch customer","description":"Patch customer","operationId":"patchCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPatchCustomerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCustomerResource"}}}}},"security":[{"oAuth2ClientCredentials":[]}]}}},"components":{"schemas":{"UserPatchEmployeeRequest":{"type":"object","properties":{"firstName":{"type":"string","maxLength":255,"minLength":1},"lastName":{"type":"string","maxLength":255,"minLength":1},"phoneNumber":{"type":"string","maxLength":20,"minLength":1},"emailAddress":{"type":"string","maxLength":255,"minLength":1}}},"UserEmployeeResource":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"phoneNumber":{"type":"string"},"emailAddress":{"type":"string"},"locale":{"type":"string"},"createdDateTime":{"type":"string","format":"date-time"},"updatedDateTime":{"type":"string","format":"date-time"}},"required":["createdDateTime"]},"UserPatchCustomerRequest":{"type":"object","properties":{"firstName":{"type":"string","maxLength":255,"minLength":1},"lastName":{"type":"string","maxLength":255,"minLength":1},"phoneNumber":{"type":"string","maxLength":20,"minLength":1},"birthDate":{"type":"string"},"emailAddress":{"type":"string","maxLength":255,"minLength":1}}},"UserCustomerResource":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"phoneNumber":{"type":"string"},"birthDate":{"type":"string","format":"date"},"emailAddress":{"type":"string"},"locale":{"type":"string"},"createdDateTime":{"type":"string","format":"date-time"},"updatedDateTime":{"type":"string","format":"date-time"}},"required":["createdDateTime"]}},"securitySchemes":{"oAuth2ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://api.setle.app/auth/v1/token/"}}}}}}